$paleta-1:#1b0c90;
$paleta-2:#900c3f;
$paleta-3:#81900c;
$paleta-4:#0c905d;
.h1 {
    font-size: 32px;
}

.h2 {
    font-size: 20px;
}

.h3 {
    font-size: 18px;
}

.h4 {
    font-size: 16px;
}

.h5 {
    font-size: 12px;
}

.menu {
    font-size: 13px;
    text-transform: uppercase;
}

.paragr-introduction {
    font-size: 24px;
}

.desc-hiper-li {
    font-size: 16px;
}

.cont-aux {
    font-size: 14px;
}

.subtittle {
    font-size: 13px;
}

.legal-text {
    font-size: 12px
}

.img-logo {
    width: 60px;
    height: 52px;
}

.img-logo-mvl {
    width: 35px;
    height: 35px;
}

.img-product {
    width: 225px;
    height: 135px;
}

.img-patro {
    width: 70px;
    height: 70px;
}

.img-map {
    width: 240px;
    height: 140px;
}

.img-list {
    width: 39px;
    height: 39px;
}

.img-us {
    width: 100px;
    height: 100px;
}

.img-icon {
    width: 24px;
    height: 24px;
}